In [ ]:
#Desarrollo de cuaderno implementando la libreria Pandas

#Importar la libreria
import pandas as pd

Importar bases de datos

In [ ]:
from google.colab import drive #correr solo en colab
drive.mount('/content/gdrive')

ruta='/content/gdrive/MyDrive/Colab Notebooks/Fish.xlsx'

fish=pd.read_excel(ruta)
fish
#fish = pd.read_excel('C:/Users/gabri/Documents/UNIVERSIDAD/Universidad Nacional/Especialización/Segundo Semestre/Lenguaje Natural/Datos/Fish.xlsx')

Mounted at /content/gdrive

   Species  Weight  Length1  Length2  Length3  Height  Width
0    Bream     242     23.2     25.4     30.0   11.52   4.02
1    Bream     290     24.0     26.3     31.2   12.48   4.31
2    Bream     340     23.9     26.5     31.1   12.38   4.70
3    Bream     363     26.3     29.0     33.5   12.73   4.46
4    Bream     430     26.5     29.0     34.0   12.44   5.13
..     ...     ...      ...      ...      ...     ...    ...
67  Parkki     170     19.0     20.7     23.2    9.40   3.41
68  Parkki     145     19.8     21.5     24.1    9.74   3.16
69  Parkki     200     21.2     23.0     25.8   10.35   3.66
70  Parkki     273     23.0     25.0     28.0   11.09   4.14
71  Parkki     300     24.0     26.0     29.0   11.37   4.23

[72 rows x 7 columns]

In [ ]:
fish.head(3)

  Species  Weight  Length1  Length2  Length3  Height  Width
0   Bream     242     23.2     25.4     30.0   11.52   4.02
1   Bream     290     24.0     26.3     31.2   12.48   4.31
2   Bream     340     23.9     26.5     31.1   12.38   4.70

In [ ]:
fish.tail(3)

   Species  Weight  Length1  Length2  Length3  Height  Width
69  Parkki     200     21.2     23.0     25.8   10.35   3.66
70  Parkki     273     23.0     25.0     28.0   11.09   4.14
71  Parkki     300     24.0     26.0     29.0   11.37   4.23

In [ ]:
#Info de la base

fish.info()
print("\n")
print("La forma de la base de datos es:",fish.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  72 non-null     object
 1   Weight   72 non-null     int64
 2   Length1  72 non-null     float64
 3   Length2  72 non-null     float64
 4   Length3  72 non-null     float64
 5   Height   72 non-null     float64
 6   Width    72 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 4.1+ KB


La forma de la base de datos es: (72, 7)

In [ ]:
print(fish.dtypes) #tipo de objeto en cada columna
print("\n")
print(fish.describe())
print("\n")
print(fish.describe(include="all")) #summary, si no se pone el include solo aparece de las variables numéricas

Species     object
Weight       int64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object


            Weight    Length1    Length2    Length3     Height      Width
count    72.000000  72.000000  72.000000  72.000000  72.000000  72.000000
mean    412.041667  25.755556  28.000000  31.922222  11.445556   4.602500
std     284.475125   6.296789   6.862328   8.050059   4.152146   1.217778
min      40.000000  12.900000  14.100000  16.200000   4.150000   2.270000
25%     157.500000  20.500000  22.375000  24.925000   7.407500   3.615000
50%     340.000000  25.950000  28.500000  32.350000  11.640000   4.685000
75%     627.500000  30.925000  33.500000  38.625000  14.942500   5.420000
max    1000.000000  38.000000  41.000000  46.500000  18.960000   6.750000


       Species       Weight    Length1    Length2    Length3     Height  \
count       72    72.000000  72.000000  72.000000  72.000000  72.000000
unique       4          NaN        NaN        NaN        NaN        NaN
top      Bream          NaN        NaN        NaN        NaN        NaN
freq        35          NaN        NaN        NaN        NaN        NaN
mean       NaN   412.041667  25.755556  28.000000  31.922222  11.445556
std        NaN   284.475125   6.296789   6.862328   8.050059   4.152146
min        NaN    40.000000  12.900000  14.100000  16.200000   4.150000
25%        NaN   157.500000  20.500000  22.375000  24.925000   7.407500
50%        NaN   340.000000  25.950000  28.500000  32.350000  11.640000
75%        NaN   627.500000  30.925000  33.500000  38.625000  14.942500
max        NaN  1000.000000  38.000000  41.000000  46.500000  18.960000

            Width
count   72.000000
unique        NaN
top           NaN
freq          NaN
mean     4.602500
std      1.217778
min      2.270000
25%      3.615000
50%      4.685000
75%      5.420000
max      6.750000

**Seleccionar subconjunto de la base de datos**

Columnas

In [ ]:
fish.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [ ]:
peso=fish['Weight']

In [ ]:
print(peso.shape) #array unidimensional con 3234 elementos
print(fish['Weight'].shape)
print(type(peso))

(72,)
(72,)
<class 'pandas.core.series.Series'>

In [ ]:
esp_wei=fish[['Species','Weight']]
print(esp_wei)
print(type(esp_wei))

   Species  Weight
0    Bream     242
1    Bream     290
2    Bream     340
3    Bream     363
4    Bream     430
..     ...     ...
67  Parkki     170
68  Parkki     145
69  Parkki     200
70  Parkki     273
71  Parkki     300

[72 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

Filas

In [ ]:
from seaborn import load_dataset

print(fish.iloc[0:10,])
print(type(fish.iloc[0:10,]))

#Filas y columnas
print(fish.iloc[0:10,1:3])

#Verdadero o falso con condución

fish["Weight"] > 412

  Species  Weight  Length1  Length2  Length3  Height  Width
0   Bream     242     23.2     25.4     30.0   11.52   4.02
1   Bream     290     24.0     26.3     31.2   12.48   4.31
2   Bream     340     23.9     26.5     31.1   12.38   4.70
3   Bream     363     26.3     29.0     33.5   12.73   4.46
4   Bream     430     26.5     29.0     34.0   12.44   5.13
5   Bream     450     26.8     29.7     34.7   13.60   4.93
6   Bream     500     26.8     29.7     34.5   14.18   5.28
7   Bream     390     27.6     30.0     35.0   12.67   4.69
8   Bream     450     27.6     30.0     35.1   14.00   4.84
9   Bream     500     28.5     30.7     36.2   14.23   4.96
<class 'pandas.core.frame.DataFrame'>
   Weight  Length1
0     242     23.2
1     290     24.0
2     340     23.9
3     363     26.3
4     430     26.5
5     450     26.8
6     500     26.8
7     390     27.6
8     450     27.6
9     500     28.5

0     False
1     False
2     False
3     False
4      True
      ...
67    False
68    False
69    False
70    False
71    False
Name: Weight, Length: 72, dtype: bool

In [ ]:
weisup = fish[fish["Weight"] > 412] # Llama aquellos cuyo valor es verdadero

weisup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 4 to 60
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  32 non-null     object
 1   Weight   32 non-null     int64
 2   Length1  32 non-null     float64
 3   Length2  32 non-null     float64
 4   Length3  32 non-null     float64
 5   Height   32 non-null     float64
 6   Width    32 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.0+ KB

In [ ]:
#Filas que no tengan valores faltantes en determinada columna
no_na = fish[fish["Species"].notna()]
print(no_na.shape)
print(fish.shape)

#Filas con valores específicos
especiess = fish[fish["Species"].isin(['Bream','Parkki'])]
especiess

(72, 7)
(72, 7)

   Species  Weight  Length1  Length2  Length3  Height  Width
0    Bream     242     23.2     25.4     30.0   11.52   4.02
1    Bream     290     24.0     26.3     31.2   12.48   4.31
2    Bream     340     23.9     26.5     31.1   12.38   4.70
3    Bream     363     26.3     29.0     33.5   12.73   4.46
4    Bream     430     26.5     29.0     34.0   12.44   5.13
5    Bream     450     26.8     29.7     34.7   13.60   4.93
6    Bream     500     26.8     29.7     34.5   14.18   5.28
7    Bream     390     27.6     30.0     35.0   12.67   4.69
8    Bream     450     27.6     30.0     35.1   14.00   4.84
9    Bream     500     28.5     30.7     36.2   14.23   4.96
10   Bream     475     28.4     31.0     36.2   14.26   5.10
11   Bream     500     28.7     31.0     36.2   14.37   4.81
12   Bream     500     29.1     31.5     36.4   13.76   4.37
13   Bream     340     29.5     32.0     37.3   13.91   5.07
14   Bream     600     29.4     32.0     37.2   14.95   5.17
15   Bream     600     29.4     32.0     37.2   15.44   5.58
16   Bream     700     30.4     33.0     38.3   14.86   5.29
17   Bream     700     30.4     33.0     38.5   14.94   5.20
18   Bream     610     30.9     33.5     38.6   15.63   5.13
19   Bream     650     31.0     33.5     38.7   14.47   5.73
20   Bream     575     31.3     34.0     39.5   15.13   5.57
21   Bream     685     31.4     34.0     39.2   15.99   5.37
22   Bream     620     31.5     34.5     39.7   15.52   5.28
23   Bream     680     31.8     35.0     40.6   15.47   6.13
24   Bream     700     31.9     35.0     40.5   16.24   5.59
25   Bream     725     31.8     35.0     40.9   16.36   6.05
26   Bream     720     32.0     35.0     40.6   16.36   6.09
27   Bream     714     32.7     36.0     41.5   16.52   5.85
28   Bream     850     32.8     36.0     41.6   16.89   6.20
29   Bream    1000     33.5     37.0     42.6   18.96   6.60
30   Bream     920     36.0     38.5     44.1   18.04   6.31
31   Bream     955     36.0     38.5     44.0   18.08   6.29
32   Bream     925     36.2     39.5     45.3   18.75   6.75
33   Bream     975     37.4     41.0     45.9   18.64   6.75
34   Bream     950     38.0     41.0     46.5   17.62   6.37
61  Parkki      55     13.5     14.7     16.5    6.85   2.33
62  Parkki      60     14.3     15.5     17.4    6.58   2.31
63  Parkki      90     16.3     17.7     19.8    7.41   2.67
64  Parkki     120     17.5     19.0     21.3    8.39   2.92
65  Parkki     150     18.4     20.0     22.4    8.89   3.29
66  Parkki     140     19.0     20.7     23.2    8.54   3.29
67  Parkki     170     19.0     20.7     23.2    9.40   3.41
68  Parkki     145     19.8     21.5     24.1    9.74   3.16
69  Parkki     200     21.2     23.0     25.8   10.35   3.66
70  Parkki     273     23.0     25.0     28.0   11.09   4.14
71  Parkki     300     24.0     26.0     29.0   11.37   4.23

In [ ]:
#Valores especificos
especies2=fish.loc[:,'Species']=='Parkki'
especies2_=fish.loc[especies2]
especies2_

   Species  Weight  Length1  Length2  Length3  Height  Width
61  Parkki      55     13.5     14.7     16.5    6.85   2.33
62  Parkki      60     14.3     15.5     17.4    6.58   2.31
63  Parkki      90     16.3     17.7     19.8    7.41   2.67
64  Parkki     120     17.5     19.0     21.3    8.39   2.92
65  Parkki     150     18.4     20.0     22.4    8.89   3.29
66  Parkki     140     19.0     20.7     23.2    8.54   3.29
67  Parkki     170     19.0     20.7     23.2    9.40   3.41
68  Parkki     145     19.8     21.5     24.1    9.74   3.16
69  Parkki     200     21.2     23.0     25.8   10.35   3.66
70  Parkki     273     23.0     25.0     28.0   11.09   4.14
71  Parkki     300     24.0     26.0     29.0   11.37   4.23

In [ ]:
#Valores especificos

fish[(fish["Species"] == 'Parkki') | (fish["Species"] == 'Bream')]

   Species  Weight  Length1  Length2  Length3  Height  Width
0    Bream     242     23.2     25.4     30.0   11.52   4.02
1    Bream     290     24.0     26.3     31.2   12.48   4.31
2    Bream     340     23.9     26.5     31.1   12.38   4.70
3    Bream     363     26.3     29.0     33.5   12.73   4.46
4    Bream     430     26.5     29.0     34.0   12.44   5.13
5    Bream     450     26.8     29.7     34.7   13.60   4.93
6    Bream     500     26.8     29.7     34.5   14.18   5.28
7    Bream     390     27.6     30.0     35.0   12.67   4.69
8    Bream     450     27.6     30.0     35.1   14.00   4.84
9    Bream     500     28.5     30.7     36.2   14.23   4.96
10   Bream     475     28.4     31.0     36.2   14.26   5.10
11   Bream     500     28.7     31.0     36.2   14.37   4.81
12   Bream     500     29.1     31.5     36.4   13.76   4.37
13   Bream     340     29.5     32.0     37.3   13.91   5.07
14   Bream     600     29.4     32.0     37.2   14.95   5.17
15   Bream     600     29.4     32.0     37.2   15.44   5.58
16   Bream     700     30.4     33.0     38.3   14.86   5.29
17   Bream     700     30.4     33.0     38.5   14.94   5.20
18   Bream     610     30.9     33.5     38.6   15.63   5.13
19   Bream     650     31.0     33.5     38.7   14.47   5.73
20   Bream     575     31.3     34.0     39.5   15.13   5.57
21   Bream     685     31.4     34.0     39.2   15.99   5.37
22   Bream     620     31.5     34.5     39.7   15.52   5.28
23   Bream     680     31.8     35.0     40.6   15.47   6.13
24   Bream     700     31.9     35.0     40.5   16.24   5.59
25   Bream     725     31.8     35.0     40.9   16.36   6.05
26   Bream     720     32.0     35.0     40.6   16.36   6.09
27   Bream     714     32.7     36.0     41.5   16.52   5.85
28   Bream     850     32.8     36.0     41.6   16.89   6.20
29   Bream    1000     33.5     37.0     42.6   18.96   6.60
30   Bream     920     36.0     38.5     44.1   18.04   6.31
31   Bream     955     36.0     38.5     44.0   18.08   6.29
32   Bream     925     36.2     39.5     45.3   18.75   6.75
33   Bream     975     37.4     41.0     45.9   18.64   6.75
34   Bream     950     38.0     41.0     46.5   17.62   6.37
61  Parkki      55     13.5     14.7     16.5    6.85   2.33
62  Parkki      60     14.3     15.5     17.4    6.58   2.31
63  Parkki      90     16.3     17.7     19.8    7.41   2.67
64  Parkki     120     17.5     19.0     21.3    8.39   2.92
65  Parkki     150     18.4     20.0     22.4    8.89   3.29
66  Parkki     140     19.0     20.7     23.2    8.54   3.29
67  Parkki     170     19.0     20.7     23.2    9.40   3.41
68  Parkki     145     19.8     21.5     24.1    9.74   3.16
69  Parkki     200     21.2     23.0     25.8   10.35   3.66
70  Parkki     273     23.0     25.0     28.0   11.09   4.14
71  Parkki     300     24.0     26.0     29.0   11.37   4.23

In [ ]:
fish[(fish["Species"] == 'Parkki') & (fish["Weight"] >= 120)]
#fish[(fish["Species"] == 'Parkki') & (fish["Weight"] >= 120)].info()

   Species  Weight  Length1  Length2  Length3  Height  Width
64  Parkki     120     17.5     19.0     21.3    8.39   2.92
65  Parkki     150     18.4     20.0     22.4    8.89   3.29
66  Parkki     140     19.0     20.7     23.2    8.54   3.29
67  Parkki     170     19.0     20.7     23.2    9.40   3.41
68  Parkki     145     19.8     21.5     24.1    9.74   3.16
69  Parkki     200     21.2     23.0     25.8   10.35   3.66
70  Parkki     273     23.0     25.0     28.0   11.09   4.14
71  Parkki     300     24.0     26.0     29.0   11.37   4.23

In [ ]:
#Eliminar valores omitidos

fish.dropna(subset=["Species"], axis=0, inplace=False) #inplace:modifique directamente la BD

   Species  Weight  Length1  Length2  Length3  Height  Width
0    Bream     242     23.2     25.4     30.0   11.52   4.02
1    Bream     290     24.0     26.3     31.2   12.48   4.31
2    Bream     340     23.9     26.5     31.1   12.38   4.70
3    Bream     363     26.3     29.0     33.5   12.73   4.46
4    Bream     430     26.5     29.0     34.0   12.44   5.13
..     ...     ...      ...      ...      ...     ...    ...
67  Parkki     170     19.0     20.7     23.2    9.40   3.41
68  Parkki     145     19.8     21.5     24.1    9.74   3.16
69  Parkki     200     21.2     23.0     25.8   10.35   3.66
70  Parkki     273     23.0     25.0     28.0   11.09   4.14
71  Parkki     300     24.0     26.0     29.0   11.37   4.23

[72 rows x 7 columns]

In [ ]:
#Manipular datos textuales
fish["Species"] = (fish["Species"]
                            #.str.lower() #Pone en minustula todo el texto
                            #.str.replace("[^a-záéíóúüñ ]","") # Reemplazar valores por otros
                            #.str.replace(" +"," ") 
                            #.str.strip() #Elimina espacios al principio y al final de cada cadena
                            .str.title() #Primer letra de cada palabra en mayúscula
                           ) 
fish["Species"]

0      Bream
1      Bream
2      Bream
3      Bream
4      Bream
       ...
67    Parkki
68    Parkki
69    Parkki
70    Parkki
71    Parkki
Name: Species, Length: 72, dtype: object

In [ ]:
#Creación de columnas a partir de otras

fish["ph"]= fish["Weight"]/fish["Height"]
print(fish[["ph","Weight","Height"]])

           ph  Weight  Height
0   21.006944     242   11.52
1   23.237179     290   12.48
2   27.463651     340   12.38
3   28.515318     363   12.73
4   34.565916     430   12.44
..        ...     ...     ...
67  18.085106     170    9.40
68  14.887064     145    9.74
69  19.323671     200   10.35
70  24.616772     273   11.09
71  26.385224     300   11.37

[72 rows x 3 columns]

In [ ]:
#Renombrar columnas
print(fish.columns)
fish.rename(columns={"ph":"ph_"},inplace=True) #renombrar columna
print(fish.columns) #Verificación

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width',
       'ph'],
      dtype='object')
Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width',
       'ph_'],
      dtype='object')

In [ ]:
#Eliminar filas y columnas
#Filas
print(fish.shape)
fish = fish.drop(fish.iloc[0:3,].index)
fish = fish.drop(fish[fish['Species']=='Parkki'].index)
print(fish.shape)

#Columnas
fish.drop(['Length3'], axis=1,inplace=True) #Eliminar columna de la BD
fish.columns

(58, 7)
(55, 7)

Index(['Species', 'Weight', 'Length1', 'Length2', 'Height', 'Width'], dtype='object')

In [ ]:
#Conteo / sumar de acuerdo a una característica
fish.groupby('Species')[['Weight', 'Length1']].sum()

           Weight  Length1
Species
Bream       19509    912.0
Roach        3154    412.9
Whitefish    3186    172.8

In [ ]:
#Organizar los datos por Weight
fish.sort_values(["Weight"], ascending=False)

      Species  Weight  Length1  Length2  Height  Width
60  Whitefish    1000     37.3     40.0   12.35   6.53
29      Bream    1000     33.5     37.0   18.96   6.60
33      Bream     975     37.4     41.0   18.64   6.75
31      Bream     955     36.0     38.5   18.08   6.29
34      Bream     950     38.0     41.0   17.62   6.37
32      Bream     925     36.2     39.5   18.75   6.75
30      Bream     920     36.0     38.5   18.04   6.31
28      Bream     850     32.8     36.0   16.89   6.20
59  Whitefish     800     33.7     36.4   11.76   6.57
25      Bream     725     31.8     35.0   16.36   6.05
26      Bream     720     32.0     35.0   16.36   6.09
27      Bream     714     32.7     36.0   16.52   5.85
17      Bream     700     30.4     33.0   14.94   5.20
16      Bream     700     30.4     33.0   14.86   5.29
24      Bream     700     31.9     35.0   16.24   5.59
21      Bream     685     31.4     34.0   15.99   5.37
23      Bream     680     31.8     35.0   15.47   6.13
19      Bream     650     31.0     33.5   14.47   5.73
22      Bream     620     31.5     34.5   15.52   5.28
18      Bream     610     30.9     33.5   15.63   5.13
15      Bream     600     29.4     32.0   15.44   5.58
14      Bream     600     29.4     32.0   14.95   5.17
20      Bream     575     31.3     34.0   15.13   5.57
58  Whitefish     540     28.5     31.0   10.74   6.56
9       Bream     500     28.5     30.7   14.23   4.96
6       Bream     500     26.8     29.7   14.18   5.28
11      Bream     500     28.7     31.0   14.37   4.81
12      Bream     500     29.1     31.5   13.76   4.37
10      Bream     475     28.4     31.0   14.26   5.10
8       Bream     450     27.6     30.0   14.00   4.84
54      Roach     390     29.5     31.7    9.49   5.36
7       Bream     390     27.6     30.0   12.67   4.69
13      Bream     340     29.5     32.0   13.91   5.07
57  Whitefish     306     25.6     28.0    8.78   4.68
52      Roach     290     24.0     26.0    8.88   4.50
53      Roach     272     25.0     27.0    8.57   4.77
55  Whitefish     270     23.6     26.0    8.38   4.25
56  Whitefish     270     24.1     26.5    8.15   4.25
50      Roach     200     22.1     23.5    7.40   4.13
51      Roach     180     23.6     25.2    7.09   3.91
48      Roach     169     22.0     24.0    7.53   3.84
49      Roach     161     22.0     23.4    6.92   3.63
45      Roach     160     20.5     22.5    7.03   3.82
47      Roach     160     21.1     22.5    6.40   3.80
43      Roach     150     20.4     22.0    5.80   3.75
44      Roach     145     20.5     22.0    6.63   3.55
46      Roach     140     21.0     22.5    6.55   3.33
42      Roach     120     19.4     21.0    6.11   3.29
39      Roach     120     18.6     20.0    6.22   3.57
40      Roach     113     19.0     20.5    6.48   3.35
41      Roach     110     19.1     20.8    6.17   3.40
38      Roach      87     18.2     19.8    5.62   3.17
37      Roach      78     17.5     18.8    5.58   2.90
36      Roach      69     16.5     18.2    5.30   2.82
35      Roach      40     12.9     14.1    4.15   2.27

In [ ]:
#Aplicar ambos métodos al mismo tiempo
fish2=(fish.groupby('Species')[['Weight', 'Length1']]
       .sum()
       .sort_values(["Weight"], ascending=True))
display(fish2)

           Weight  Length1
Species
Roach        3154    412.9
Whitefish    3186    172.8
Bream       19509    912.0

In [ ]:
fish_indice=pd.read_excel(ruta,index_col=[1])
display(fish_indice)

       Species  Length1  Length2  Length3  Height  Width
Weight
242      Bream     23.2     25.4     30.0   11.52   4.02
290      Bream     24.0     26.3     31.2   12.48   4.31
340      Bream     23.9     26.5     31.1   12.38   4.70
363      Bream     26.3     29.0     33.5   12.73   4.46
430      Bream     26.5     29.0     34.0   12.44   5.13
...        ...      ...      ...      ...     ...    ...
170     Parkki     19.0     20.7     23.2    9.40   3.41
145     Parkki     19.8     21.5     24.1    9.74   3.16
200     Parkki     21.2     23.0     25.8   10.35   3.66
273     Parkki     23.0     25.0     28.0   11.09   4.14
300     Parkki     24.0     26.0     29.0   11.37   4.23

[72 rows x 6 columns]

In [ ]:
#Series de tiempo
#IPC Colombia Alimentos, bebidas alcoholicas y prendas
ruta_1='/content/gdrive/MyDrive/Colab Notebooks/inflacion.xlsx'
inf=pd.read_excel(ruta_1)
inf

         Fecha  Alimentos  Bebidas  Prendas
0   2009-01-31      71.94    62.29    89.56
1   2009-02-28      72.21    63.01    89.42
2   2009-03-31      72.30    63.71    89.47
3   2009-04-30      72.69    64.05    89.52
4   2009-05-31      72.60    64.41    89.67
..         ...        ...      ...      ...
151 2021-08-31     123.47   110.88    98.52
152 2021-09-30     124.41   111.34    98.60
153 2021-10-31     125.52   111.85    95.20
154 2021-11-30     127.34   112.34    94.60
155 2021-12-31     129.98   113.22    94.21

[156 rows x 4 columns]

In [ ]:
#Calculos por año
inf.index=inf['Fecha']
inf.groupby([inf.index.month])['Alimentos'].describe()
inf.groupby([inf.index.year]).sum().head()

       Alimentos  Bebidas  Prendas
Fecha
2009      856.29   773.69  1073.98
2010      858.08   827.69  1062.89
2011      897.26   865.19  1061.13
2012      927.99   889.33  1067.55
2013      931.80   907.25  1076.38